.Barra-Morada {
    background: #A664FF;
    height: 18px;
    width: 1920px; 
}

.span {
    font-family: lato;
    font-size: 28.85px;
    font-weight: 700;
    vertical-align: 50%;   
}

.Icono-duo {
    padding: 65px 201px;
}

.imagen-duo {
    padding: 0px 201px;
}

h1 {
    font-family: Inter;
    font-size: 57.4px;
}

#texto {

    font-family: Inter;
    font-size: 49.2px;
    margin-right: 30%;
    color: #64748B; 
    width: 1520px;  
}